# YOLO ve Ağır Model Dosyaları
tools/yolo_trainer/
*.pt
backup/

# C# ve Visual Studio Derlemeleri (src klasörü)
src/**/bin/
src/**/obj/
src/**/%TEMP%/
.publish/
publish-single/

# Android Derleme Dosyaları (android klasörü)
android/**/.gradle/
android/**/.idea/
android/**/build/
android/**/local.properties

# Diğer Geçici/Gereksiz Dosyalar
.claude/

src/**/publish/
*.exe
Build/
Build-Cuda/
Build-DirectML/
Output/
redist/
models/
state-live.json
cuda_core/
cudnn_core/
*.zip
*.onnx
*.pt
